<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Cambiar Contraseña</title>
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script> <!-- NO QUITAR ESENCIAL PARA EL TOKEN -->
   <style>
      .msg-error-form{
        max-width: 50rem;
        margin-top: 1rem;
        font-size: 1.6rem;
        text-align: center !important;
      }
    </style>
</head>
<body>
    <main class="cambiarPassword">
        <div class="cambiarHero">
            <h1 class="cambiarHero__titulo">Cambiar contraseña</h1>
            <div class="cambiarHero__imagen">
                <img class="cambiarHero__img" src="../../img/BeeMeet2.png" alt="Logo BeeMeet">
            </div>
        </div>
        <div class="cambiarForm">
          <h1 class="cambiarForm__titulo">Cambiar contraseña</h1>
          <p>Para tener tus datos seguros y protegidos, tu nueva contraseña deberá contar con mínimo 10 caracteres los cuales deberán incluir al menos un número, una mayúscula y un caracter especial.</p>
          <div class="form">
            <label class="cambiarForm__password">Contraseña:*</label>
            <div class="inputForm">
                <input id="loginPassword" type="password" class="input" placeholder="contraseña" required>
                <svg id="eyebutton" class="view-icon" viewBox="0 0 576 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>
            </div>
            <div id="passwordForm"></div>
            <label class="cambiarForm__password">Repetir contraseña:*</label>
            <div class="inputForm">
                <input id="loginPasswordR" type="password" class="input" placeholder="contraseña" required>
                <svg id="eyebuttonR" class="view-icon" viewBox="0 0 576 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>
            </div>
            <div id="passwordFormR"></div>
            <div class="button-container">
                <button onclick="cambiarCon()" id="editForm" class="button-submit" style="width: 100%;">Aceptar</button>
            </div>
          </div>
        </div>
    </main>
    
    <!-- Estilos para el Swal -->
    <style>
      .titleSize{
        font-size: 4rem;
      }
      .contentSize{
        font-size: 2rem !important;
      }
      .buttonSize{
        font-size: 2rem !important;
      }
      .iconSize{
        font-size: 1.5rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/plantilla-formularios.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../js/sesiones/cambiarContrasena.js"></script>
    <script src="../../js/validaciones.js"></script>

</body>
</html>
