<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404 - Beemeet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../css/app.css">
    <!--SiderBar-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <main class="contenidoPrincipal" id="mainContainer">
    <div class="errorcuatro">
        <div class="errorcuatro__text">
            <h1>ERROR 404:</h1>
            <h2>Página no encontrada</h2>
        </div>
            <div class="errorcuatro__background__nubes">
                <img src="../../img/NUBES.png" class="nube1">
                <img src="../../img/NUBE.png" class="nube2">
                <img src="../../img/NUBE.png" class="nube2">
            </div>
            <div class="errorcuatro__background__bee">
                <img src="../../img/bee.png" class="slide-tl">
            </div>

            <div class="errorcuatro__background__edificios">
                <div class="errorcuatro__background__edificios__img">
                    <img src="../../img/EDIFICIOS-GRADIANT.png" class="edificio1">
                </div>
                <div class="errorcuatro__background__edificios__img">
                    <img src="../../img/EDIFICIOS-GRADIANT3.png" class="edificio2">
                </div>
                <div class="errorcuatro__background__edificios__img">
                    <img src="../../img/EDIFICIOS-GRADIANT4.png" class="edificio3">
                </div>
            </div>
    </div>
    </main>
</body>
</html>