<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Recuperar Contraseña</title>
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <main class="recuperar">
        <div class="recuperarHero">
            <h1 class="recuperarHero__titulo">Recuperar Contraseña</h1>
            <div class="recuperarHero__imagen">
                <img class="recuperarHero__img" src="../../img/BeeMeet2.png" alt="Logo BeeMeet">
            </div>
        </div>
        <div class="recuperarInfo">
            <h1 class="recuperarInfo__titulo">Recuperar contraseña</h1>
            <p>Ingresa el correo electrónico  que registraste en el sistema. 
                Te enviaremos un correo de verificación para restablecer tu contraseña.</p>
            <form action="" id="myForm" class="form needs-validation" novalidate>
                <div>
                    <label class="recuperarForm__email">Correo electrónico:*</label>
                    <div class="inputForm">
                        <input name="email" autocomplete="off" id="loginEmail" type="email" class="input" placeholder="correo@ejemplo.com" required>
                    </div>
                    <div id="emailForm"></div>
                </div>
                <div class="button-container">
                    <input type="submit" onclick="enviar()"  class="button-submit1" id= "boton4" value="Enviar">
                    <!--Antes el input era: type="summit" pero el mensaje no se veia bien-->
                    <button type="button" class="button-submit2" onclick="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </main>

    <!-- Estilos para el Swal -->
    <style>
      .titleSize{
        font-size: 4rem;
      }
      .contentSize{
        font-size: 2rem !important;
      }
      .buttonSize{
        font-size: 2rem !important;
      }
      .iconSize{
        font-size: 1.5rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/plantilla-formularios.js"></script>
    <script src="../../js/validaciones.js"></script>
    <script src="../../js/sesiones/recuperarContrasena.js"></script>
    
</body>
</html>


