<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body>
    <footer class="footer">
        <div class="contenedor">
            <div class="beemeet">
                <div class="beemeet__logo">
                    <img src="../../img/BeeMeet2.png" alt="Logo Beemeet">
                </div>
                <h3 class="beemeet__titulo">BeeMeet</h3>
            </div>
            <div class="usernames">
                <p>Equipo de BeeCoders:</p>
                <div class="usernames__container">
                    <div class="usernames1">
                        <p>@RafaElJefe</p>
                        <p>@DianaLaConsejera</p>
                        <p>@CesarLaLechugaFresca</p>
                        <p>@LizardiElGranProgramador</p>
                        <p>@DaniBoyElFrontProgramador</p>
                        <p>@DiegoElCPC</p>
                    </div>
                    <div class="usernames2">
                        <p>@RorroElMusculoso</p>
                        <p>@LeoElCuadrado</p>
                        <p>@ToñitoElChispas</p>
                        <p>@AdoElBienPortado</p>
                        <p>@VallejoLaCreativa</p>
                        <p>@SaulElChambeador</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright. Todos los derechos reservados. BeeMeet © 2024</p>
    </footer>
</body>
</html>