<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body>
    <div class="bg-example">
        <h1 id="boton1">Presiona para ver el mensaje</h1>
        <h1 id="boton2">Presiona para ver el mensaje</h1>
        <h1 id="boton3">Presiona para ver el mensaje</h1>
        
        <div id="cancelada" class="Operacion close">
            <p class="Operacion__titulo">Operación cancelada</p>
            <button class="Operacion__btn" id="okc">Ok</button>
        </div>

        <div id="datos-enviados" class="Operacion close">
            <p class="Operacion__titulo">Se enviarón los datos correctamente</p>
            <button class="Operacion__btn" id="okd">Ok</button>
        </div>

        <div id="exitosa" class="Operacion close">
            <p class="Operacion__titulo">Operación exitosa</p>
            <button class="Operacion__btn" id="oke">Ok</button>
        </div>
    </div>
    <script src="../../js/ventanas-modales.js"></script>
</body>
</html>