<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Datos del Invitado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../css/app.css">
    <!--SiderBar-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div id="headers"></div>

    <main class="contenidoPrincipal">
        <div class="HeroInvitado">
            <h1 class="consultaForm__titulo text-center">Datos del invitado</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="HeroInvitadoImg">
                        <img src="../../img/examples/sample-dwight-k-schrute.jpg" class="img-fluid rounded-circle"
                            alt="Invitado">
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label HeroInvitadolabel">Invitado:</label>
                            <div class="col-sm-9">
                                <input class="form-control HeroInvitadoinput" type="text" value="José Manuel Perez"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label HeroInvitadolabel">Anfitrión:</label>
                            <div class="col-sm-9">
                                <input class="form-control HeroInvitadoinput" type="text" value="Nombre Anfitrión"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label HeroInvitadolabel">Empresa/Organización:</label>
                            <div class="col-sm-9">
                                <input class="form-control HeroInvitadoinput" type="text"
                                    value="Super Secret Intelligence" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label HeroInvitadolabel">Identificación a presentar:</label>
                            <div class="col-sm-9">
                                <input class="form-control HeroInvitadoinput" type="text" value="INE" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label HeroInvitadolabel">Número de piso:</label>
                            <div class="col-sm-3">
                                <input class="form-control HeroInvitadoinput" type="number" value="21" disabled>
                            </div>
                            <label class="col-sm-3 col-form-label HeroInvitadolabel">Número de sala:</label>
                            <div class="col-sm-3">
                                <input class="form-control HeroInvitadoinput" type="number" value="6" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="HeroEntradasSalidas">
                <h2>Control de Acceso</h2>
                <div class="__Tabla table-responsive paragraph-example">
                    <table class="tabla table table-hover table-bordered table-sm" id="TablaEntradasSalidas">
                        <thead class="tabla__cabecera">
                            <tr>
                                <th scope="col" data-sort="Dispositivos" class="cabecera">Hora de Entrada</th>
                                <th scope="col" data-sort="NumSerie" class="cabecera">Hora de Salida</th>
                                <th scope="col" data-sort="Eliminar" class="cabecera">Eliminar registro</th>
                            </tr>
                        </thead>
                        <tbody class="tabla__cuerpo">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="BotonesEyS">
                <input type="submit" value="Entrada" class="BotonesEyS__Entrada">
                <input type="submit" value="Salida" class="BotonesEyS__Salida">
            </div>
            <div class="HeroDispositivos">
                <h2>Dispositivos Electrónicos</h2>
                <div class="__Tabla table-responsive paragraph-example">
                    <table class="tabla table table-hover table-bordered table-sm" id="TablaDispositivos">
                        <thead class="tabla__cabecera">
                            <tr>
                                <th scope="col" data-sort="Dispositivos" class="cabecera">Dispositivo</th>
                                <th scope="col" data-sort="NumSerie" class="cabecera">Número de Serie</th>
                                <th scope="col" data-sort="NumSerie" class="cabecera">Presente</th>
                            </tr>
                        </thead>
                        <tbody class="tabla__cuerpo">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="BotonesEyS">
                <input type="submit" value="Guardar" class="BotonesEyS__Guardar" disabled>
            </div>
        </div>
    </main>

    <div id="footers"></div>

    <script src="../../js/seguridad/seguridad.js"></script>
    <script src="../../js/seguridad/headers.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/consultarDatosDelInvitado.js"></script>
</body>

</html>