<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida - BeeMeet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/app.css">

</head>
</head>
<body>

    <div id="headers"></div>

    <main class="contenidoPrincipal default">
        <div class="defaultInicioHero">
            <div class="defaultInicioHero__Top">
                <h1>Bienvenido, <span id="nameGet">Rafael Cabañas</span></h1> 
                <h2>Comienza a reunirte</h2>
            </div>
            <div class="defaultInicioHero__Bottom">
              <div class="defaultInicioHero__Bottom__imgBox">
                <img src="../../img/bee.png" class="defaultInicioHero__Bottom__imgBox__beeAnimation">
              </div>
              <div class="defaultInicioHero__Bottom__imgBox">
                <img src="../../img/EDIFICIO.png">
              </div>
            </div>    
        </div>
    </main>

    <div id="footers"></div>

</body>

<!-- Estilos para el Swal -->
<style>
  .titleSize{
    font-size: 4rem;
  }
  .contentSize{
    font-size: 2rem !important;
  }
  .buttonSize{
    font-size: 2rem !important;
  }
  .iconSize{
    font-size: 1.5rem;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../js/seguridad/seguridad.js"></script>
<script src="../../js/seguridad/headers.js"></script>
<script src="../../js/sidebar.js"></script>
<script src="/build/js/header.js"></script>
</html>