<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Visualizar Agenda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../../css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--DataTables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
    <!--SiderBar-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div id="headers"></div>

    <main class="contenidoPrincipal">
        <div class="visualizarAgenda">
            <h1 class="title-example text-center">Visualizar Agenda del día</h1>
            <h2 class="subtitle-example text-center" id="fechaYHora"> </h2>
            <div class="__Tabla table-responsive paragraph-example">
                <table class="tabla table table-hover table-bordered table-sm" id="Tabla">
                    <thead class="tabla__cabecera">
                        <tr>
                            <th scope="col" data-sort="accion" class="cabecera">Acción</th>
                            <th scope="col" data-sort="nombreInvi" class="cabecera">Nombre Invitado</th>
                            <th scope="col" data-sort="horario" class="cabecera">Hora llegada</th>
                            <th scope="col" data-sort="nombreAnfi" class="cabecera">Nombre Anfitrión</th>
                        </tr>
                    </thead>
                    <tbody class="tabla__cuerpo">
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div id="footers"></div>

    <script>
      //Fecha y Hora en tiempo real
      function actualizarFechaHora() {
          const fechaActual = new Date(Date.now());
          const fechaFormateada = fechaActual.toLocaleDateString() + " " + fechaActual.toLocaleTimeString();
          const fechaYHoraElement = document.querySelector('h2');
          fechaYHoraElement.innerHTML = `${fechaFormateada}`;
        }

        window.onload = actualizarFechaHora;

        const intervaloActualizacion = 1000;
      setInterval(actualizarFechaHora, intervaloActualizacion);
      let table;
      
      obtenerReuniones()
      async function obtenerReuniones(){
        let info = [];
        console.log("Cargando invitados");
        try{
          const response = await fetch('/seguridad/getAgendas');
          const invitados = await response.json();

          //Limpiar el arreglo 'info'
          info.length = 0;

          console.log(invitados)
        }catch(error){
          console.error("Error al obtener datos", error);
          return [];
        }
      }

      /* function obtenerReuniones() {
        let info = []
        try{

        }catch(error){
          console.error("Error al obtener datos", error);
          return [];
        }
          fetch("/seguridad/getAgendas", {
              method: "GET"
          })
              .then(response => response.json())
              .then(data => {
                  console.log(data);
                  const tablaBody = document.getElementById('cuerpoTabla');
                  tablaBody.innerHTML = '';
                  data.forEach(reunion => {
                      let fecha = new Date(reunion.fecha_reunion);
                      const fila = document.createElement('tr');
                      console.log(reunion.id_inv);
                      fila.innerHTML = `
                          <td>
                              <button onclick="verDetallesInv(${reunion.id_inv})">Ver</button>
                          </td>
                          <td>${reunion.nombre_inv}</td>
                          <td>${fecha.getUTCHours()}:${fecha.getUTCMinutes()}</td>
                          <td>${reunion.nombre_user}</td>
                      `;
                      tablaBody.appendChild(fila);
                  });
              })
              .catch(error => console.error("Error al visualizar los datos:", error));
      }

      function verDetallesInv(idInvitado) {
          fetch(`/seguridad/getAgendaID/${idInvitado}`, {
              method: "GET"
          })
              .then(response => response.json())
              .then(data => {
                  console.log(data);
                  document.getElementById('detallesReunion').innerHTML = `
                  <h1>Detalles de la reunión</h1>
                      <p>Id de la reunión: ${data.id_reunion}</p>
                      <p>Nombre del anfitrión: ${data.nombre_user} ${data.apellido_user}</p>
                      <p>Nombre de la sala: ${data.nombre_sala}</p>
                      <p>Título de la reunión: ${data.titulo_reunion}</p>
                  `;
              })
              .catch(error => console.error('Error al obtener usuario:', error));
      }
      function VerDatosInvitado(idInvitado) {
          const url = `verDatosInv.html?idInvitado=${idInvitado}`;    
          window.open(url);
      } */
    </script>
    
    <script src="../../js/seguridad/visualizarAgendaDelDia.js"></script>
    <script src="../../js/seguridad/seguridad.js"></script>
    <script src="../../js/seguridad/headers.js"></script> 
    <script src="../../js/header.js"></script>
    <script src="../../js/sidebar.js"></script>
   <!--  <script src="../../js/visualizarAgenda.js"></script> -->
</body>