<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='../../js/index.global.min.js'></script>
    <title>Consultar reuniones 2</title>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body>

    <div id="headers"></div>

    <main class="contenidoPrincipal">
        <h2>Consultar reuniones</h2>
        <button onclick="window.location.href = '/anfitrion/crearReunion';">Crear reunión</button>
        <button onclick="window.location.href = '/anfitrion/reunionesLista';">(dev) Consultar reuniones</button>
        <div style="max-width: 1000px; margin: auto;" id='calendar'></div>
    </main>

    <div id="footers"></div>

    <script src="../../js/anfitrion/headers.js"></script>
    <script src="/build/js/header.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/anfitrion.js"></script>
    <script src="../../js/anfitrion/calendar.js"></script>

</body>
</html>