<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Consultar Datos Invitado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../../css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div id="headers"></div>

    <main class="contenidoPrincipal">
        <section class="consultarDatosInvitado">
            <form>
                <div class="campo">
                    <label for="">Nombre del Invitado:</label>
                    <input type="text" name="" id="" value="Maria del Rosario Gonzalez Borja" disabled>
                </div>
                <div class="campo">
                    <label for="">Empresa u Organización:</label>
                    <input type="text" name="" id="" value="Super Secret Intelligence" disabled>
                </div>
                <div class="campoFlex">
                    <div class="campo">
                        <label for="">Tipo de vehículo</label>
                        <input type="text" name="" id="" value="Super Secret Intelligence" disabled>
                    </div>
                    <div class="campo">
                        <label for="">Placas:</label>
                        <input type="text" name="" id="" value="CSD-12" disabled>
                    </div>
                </div>
                <div class="campo campoTabla">
                    <p>Dispositivos Electrónicos</p>
                    <table class="campo__tabla">
                        <tbody>
                            <tr>
                                <th>Dispositivo</th>
                                <th>Número de Serie</th>
                            </tr>
                            <tr>
                                <td>Asus Rog</td>
                                <td>ASDFS-21DFS-FSDFRE-123-RWEEW</td>
                            </tr>
                            <tr>
                                <td>Iphone 15</td>
                                <td>BDFG-FDGD2-EWRWE2-EWFW-21312</td>
                            </tr>
                            <tr>
                                <td>Earpods Pro 2Gen</td>
                                <td>FSDFDSF-DFSD-324-CSCF3-FS-212</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <form class="segundaParte">
                <div class="invitadoIMG">
                    <img src="../../img/usuario.webp" alt="Usuario">
                </div>
                <div class="campo campoTabla">
                    <p>Lista de Acompañantes</p>
                    <table class="campo__tabla">
                        <tbody>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                            </tr>
                            <tr>
                                <td>Luis Rodriguez Martinez</td>
                                <td>luis8921_12@correo.com</td>
                            </tr>
                            <tr>
                                <td>Sofia Nieves Nieves</td>
                                <td>sofi21_292@correo.com</td>
                            </tr>
                            <tr>
                                <td>Ximena Lopez Ramirez</td>
                                <td>xime231_324@correo.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="botonReturn">Regresar</button>
            </form>
        </section>
    </main>

    <div id="footers"></div>

    <script>



        window.onload = function() {
            getInfoInvitacion();

        }



        function getInfoInvitacion(){
            let idReunion = 0;
            let idInvitado = 0;
            let url = new URLSearchParams(location.search);
            idReunion = url.get('idReunion');
            idInvitado = url.get('idInvitado');
            alert("idReunion: " + idReunion + ", idInvitado:" + idInvitado);

            // fetch para obtener la información del usuario y la info que va a traer
            const data = {
                idReunion: idReunion,
                idInvitado: idInvitado
            }
            fetch("/anfitrion/reuniones/invitadoInf", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                //llenar los campos con la info que trae
            })
            .catch(error => {
                console.error("Error:", error);
            });



        }
    </script>
    <script src="../../js/anfitrion/headers.js"></script>
    <script src="/build/js/header.js"></script>
    <script src="../../js/sidebar.js"></script>
</body>
</html>