<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Crear Reunión</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../../css/app.css">

    <style>
        .centerThis {
            margin: auto;
            width: 89%;
            padding: 10px;
        }
    </style>

</head>

<body>


    <div id="headers"></div>
    <div class="centerThis">
        <main class="contenidoPrincipal">
            <div class="crearReunion">
                <h1>Crear Reunion</h1>
                <form id="formCrearReunion">
                    <label for="titulo_reunion">Titulo de la reunión:</label>
                    <input type="text" id="titulo_reunion" name="titulo_reunion" required>
                    <br>
                    <label for="descripcion_reunion">Descripción de la reunión:</label>
                    <input type="text" id="descripcion_reunion" name="descripcion_reunion" required>
                    <br>
                    <label for="fecha_reunion">Fecha de inicio de la reunión:</label>
                    <input type="date" id="fecha_reunion" name="fecha_reunion" required>
                    <br>
                    <label for="hora_inicio_reunion">Hora de inicio de la reunión:</label>
                    <input type="time" id="hora_inicio_reunion" name="hora_inicio_reunion" required>
                    <br>
                    <label for="hora_fin_reunion">Hora de fin de la reunión:</label>
                    <input type="time" id="hora_fin_reunion" name="hora_fin_reunion" required>
                    <br>
                    <label for="isRepetible">¿Es repetible?</label>
                    <input type="checkbox" id="isRepetible" name="isRepetible" required>
                    <br>
                    <table id="tablaFechasRepetir">
                        <tr>
                            <th>Fecha</th>
                            <th>accion</th>
                        </tr>
                    </table>
                    <button id="btnAgregarFecha" onclick="agregarFecha()">Agregar Fecha</button>
                    <br>


                    <label for="nombreSala">Nombre de la sala:</label>
                    <select id="nombreSala" name="nombreSala" required>
                        <option value="1">Sala 1</option>
                        <option value="2">Sala 2</option>
                        <option value="3">Sala 3</option>
                    </select>
                    <br>

                    <button type="button" onclick="crearReunion()">
                        Crear Reunión
                    </button>
                </form>

            </div>
        </main>
    </div>

    <div id="footers"></div>


    <script src="../../js/anfitrion/headers.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/anfitrion.js"></script>



    <script>
        window.onload = function () {
            obtenerSalas();
        }
        function agregarFecha() {
            const tablaFechasRepetir = document.getElementById('tablaFechasRepetir');
            const fila = document.createElement('tr');
            fila.innerHTML = `
                <td><input type="date" name="fechaRepetir" required></td>
                <td><button onclick="eliminarFila(this)">Eliminar</button></td>
            `;
            tablaFechasRepetir.appendChild(fila);
        }
        function eliminarFila(boton) {
            const fila = boton.parentNode.parentNode;
            fila.parentNode.removeChild(fila);
        }
        function crearReunion() {


            const titulo_reunion = document.getElementById('titulo_reunion').value;
            const descripcion_reunion = document.getElementById('descripcion_reunion').value;
            const fecha_reunion = document.getElementById('fecha_reunion').value;
            const hora_inicio_reunion = document.getElementById('hora_inicio_reunion').value;
            const hora_fin_reunion = document.getElementById('hora_fin_reunion').value;
            const isRepetible = document.getElementById('isRepetible').checked;
            const nombreSala = document.getElementById('nombreSala').value;

            const fechasRepetir = [];
            document.querySelectorAll('input[name="fechaRepetir"]').forEach(input => {
                fechasRepetir.push(input.value);
            });

            const envJson = {
                titulo_reunion,
                descripcion_reunion,
                fecha_reunion,
                hora_inicio_reunion,
                hora_fin_reunion,
                isRepetible,
                nombreSala,
                fechasRepetir
            };

            fetch('reuniones', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(envJson)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('data:', data);

                })
                .catch(error => {
                    console.error('Error:', error);
                });



        }
        function obtenerSalas() {
            fetch('salas')
                .then(response => response.json())
                .then(salas => {
                    console.log('salas:', salas);
                    const selectSala = document.getElementById('nombreSala');
                    selectSala.innerHTML = '';
                    salas.forEach(sala => {
                        const option = document.createElement('option');
                        option.value = sala.id_sala;
                        option.textContent = sala.nombre_sala;
                        selectSala.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

</body>

</html>