<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beecoders - Editar datos personales</title>
    <link rel="stylesheet" href="../../css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="headers"></div>
    
    <main class="contenidoPrincipal">
        <div class="profileHeroSA">
                <div class="profileHeroSA__left">
                    <h1 class="profileHeroSA__left__titulo">Tus datos personales</h1>
                </div>
                <div class="profileHeroSA__right">
                    <div class="profileHeroSA__right__inputProfile">
                        <label class="profileHeroSA__right__inputProfile__label">Nombre(s)*</label>
                        <div class="profileHeroSA__right__inputProfile__content">
                            <input class="inputSA" type="text" placeholder="Juan " disabled id="inputNom">
                        </div>
                    </div>
                    <div class="profileHeroSA__right__inputProfile">
                        <label class="profileHeroSA__right__inputProfile__label">Apellido Paterno*</label>
                        <div class="profileHeroSA__right__inputProfile__content">
                            <input class="inputSA" type="text" placeholder="Perez" disabled id="inputApePat">
                        </div>
                    </div>
                    <div class="profileHeroSA__right__inputProfile">
                        <label class="profileHeroSA__right__inputProfile__label">Apellido Materno*</label>
                        <div class="profileHeroSA__right__inputProfile__content">
                            <input class="inputSA" type="text" placeholder="Hernandez" disabled id="inputApeMat">
                        </div>
                    </div>
                    <div class="profileHeroSA__right__inputProfile">
                        <label class="profileHeroSA__right__inputProfile__label">Correo Electrónico*</label>   
                        <div class="profileHeroSA__right__inputProfile__content">
                            <input class="inputSA" type="email" placeholder="example@email.com" disabled id="inputEmail">
                        </div>
                    </div>
                    
                    <div class="profileHeroSA__right__inputProfile">
                        <label class="profileHeroSA__right__inputProfile__label">Número telefónico*</label>
                        <div class="profileHeroSA__right__inputProfile__content">
                            <input class="inputSA" type="tel" min="0" placeholder="55 666 777 88" pattern="[0-9\s]{10,15}" disabled id="inputTel">
                        </div>
                    </div>
                    <div class="profileHeroSA__right__buttonContainer view" id="buttonsEdit">
                        <button class="profileHeroSA__right__buttonContainer__buttonEdit" id="editProfile">Editar</button>   
                        <div class="profileHeroSA__right__buttonContainer__button" style="display: none;" id="contenedorEdit">
                            <button class="profileHeroSA__right__buttonContainer__button__secundario" id="cancelarProfile">Cancelar</button>
                            <button class="profileHeroSA__right__buttonContainer__button__primario" id="guardarProfile">Guardar</button>
                        </div>
                    </div>
                </div>
        </div>   
    </main>

    <div id="footers"></div>

    <script src="../../js/anfitrion/headers.js"></script>
    <script src="../../js/buttonProfiles.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="/build/js/header.js"></script>
    <script src="../../js/anfitrion.js"></script>
</body>
</html>