<!DOCTYPE html>
<html>

<head>
    <title>Reuniones</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            margin-bottom: 10px;
        }

        h4 {
            padding: 0px;
            margin: 0px;
            font-weight: 400;

            display: inline;
        }

        button {
            padding: 8px 12px;
            margin-right: 10px;
            cursor: pointer;
        }


        form {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="date"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 4px;
        }

        .card{
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 5px;
            margin-bottom: 10px;
        }

        .fechas li{
            list-style: none;
            
        }

        .cardszzz {

            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .card p {
            margin: 0;
            white-space: nowrap;
            display: inline-flex;
        }

    </style>
</head>

<body>
    <button onclick="obtenerReuniones()">Actualizar Reuniones</button>
    <h1>Gestionar reuniones</h1>




    <div id="divReuniones" class="cardszzz"></div>

    <hr>
    <h1>Crear Reunion</h1>
    <form id="formCrearReunion">
        <label for="titulo_reunion">Titulo de la reunión:</label>
        <input type="text" id="titulo_reunion" name="titulo_reunion" required>
        <br>
        <label for="descripcion_reunion">Descripción de la reunión:</label>
        <input type="text" id="descripcion_reunion" name="descripcion_reunion" required>
        <br>
        <label for="fecha_reunion">Fecha de inicio de la reunión:</label>
        <input type="date" id="fecha_reunion" name="fecha_reunion" required>
        <br>
        <label for="hora_inicio_reunion">Hora de inicio de la reunión:</label>
        <input type="time" id="hora_inicio_reunion" name="hora_inicio_reunion" required>
        <br>
        <label for="hora_fin_reunion">Hora de fin de la reunión:</label>
        <input type="time" id="hora_fin_reunion" name="hora_fin_reunion" required>
        <br>
        <label for="isRepetible">¿Es repetible?</label>
        <input type="checkbox" id="isRepetible" name="isRepetible" required>
        <br>
        <table id="tablaFechasRepetir">
            <tr>
                <th>Fecha</th>
                <th>accion</th>
            </tr>
        </table>
        <button id="btnAgregarFecha" onclick="agregarFecha()">Agregar Fecha</button>
        <br>


        <label for="nombreSala">Nombre de la sala:</label>
        <select id="nombreSala" name="nombreSala" required>
            <option value="1">Sala 1</option>
            <option value="2">Sala 2</option>
            <option value="3">Sala 3</option>
        </select>
        <br>

        <button type="button" onclick="crearReunion()">
            Crear Reunión
        </button>
    </form>

    <script>
        window.onload = function () {
            obtenerReuniones();
            obtenerSalas();
        }

        function obtenerSalas() {
            fetch('salas')
                .then(response => response.json())
                .then(salas => {
                    console.log('salas:', salas);
                    const selectSala = document.getElementById('nombreSala');
                    selectSala.innerHTML = '';
                    salas.forEach(sala => {
                        const option = document.createElement('option');
                        option.value = sala.id_sala;
                        option.textContent = sala.nombre_sala;
                        selectSala.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function eliminarFila(boton) {
            const fila = boton.parentNode.parentNode;
            fila.parentNode.removeChild(fila);
        }

        function agregarFecha() {
            const tablaFechasRepetir = document.getElementById('tablaFechasRepetir');
            const fila = document.createElement('tr');
            fila.innerHTML = `
                <td><input type="date" name="fechaRepetir" required></td>
                <td><button onclick="eliminarFila(this)">Eliminar</button></td>
            `;
            tablaFechasRepetir.appendChild(fila);
        }

        function obtenerReuniones() {
            fetch('reuniones')
                .then(response => response.json())
                .then(reuniones => {
                    console.log('reuniones xd:', reuniones);

                    const divReunion = document.getElementById('divReuniones');
                    divReunion.innerHTML = '';

                    reuniones.forEach(reunion => {
                        const card = document.createElement('div');
                        card.classList.add('card');

                        const emailDiv = 'correoInv-' + reunion.id_reunion;
                        const acompanantesDiv = 'acompanantesInv-' + reunion.id_reunion;

                        card.innerHTML = `
                        
                            <h4><b>Reunion id: </b>${reunion.id_reunion}</h4>

                            <div class="asunto">
                            <h4><b>Asunto: </b></h4>
                            <p>${reunion.titulo_reunion}</p>
                            </div>


                            <h4><b>Fechas: </b>${reunion.numRepeticion}</h4>
                            <ul class="fechas">${reunion.fechasRepeticion.map(fecha =>
                            `<li>${fecha.id_repeticion} , 
                                ${fecha.fecha_repeticion}, ${fecha.hora_inicio_repeticion} - ${fecha.hora_fin_repeticion},
                                ${fecha.estatus_repeticion}</li>
                                    
                            `).join('')}
                            </ul>


                            <h4><b>Descripción</b></h4>
                            <br/>
                            <p>${reunion.descripcion_reunion}</p>
                            <br/>
                            <h4><b>id Sala: </b>${reunion.id_sala}</h4>
                            <br/>

                            <h4><b>Lista de los correos de los invitados: - acompañantes disponibles</b></h4>
                            
                            <ul>${reunion.infoInvitados.map(info =>
                            `<li>${info.correo_invitado} - ${info.numero_colados}</li>
                            `).join('')}
                            </ul>
                            

                            <button onclick="detallesReunion(${reunion.id_reunion})">Detalles</button>
                            <button onclick="mostrarFormulario(${reunion.id_reunion})">Crear Invitación</button>
                            <button onclick="eliminarReunion(${reunion.id_reunion})">Eliminar</button>

                            <div id="formulario-${reunion.id_reunion}" style="display: none;">
                                <h4><b>Formulario de Invitación</b></h4>
                                <form id="form-${reunion.id_reunion}">
                                    <label for="correos">Correo de invitación:</label><br>
                                    <input type="text" id="${emailDiv}" name="correos" rows="4" cols="50"><br>

                                    <label for="acompanantes">numero de acompañantes:</label><br>
                                    <input type="number" id="${acompanantesDiv}" name="acompanantes" required><br>

                                    <button type="button" onclick="enviarInvitacion(${reunion.id_reunion})">añadir</button>
                                </form>
                            </div>

                            `;
                        divReuniones.appendChild(card);
                    });

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function mostrarFormulario(idReunion) {
            const formulario = document.getElementById(`formulario-${idReunion}`);
            formulario.style.display = 'block';
        }




        function crearReunion() {


            const titulo_reunion = document.getElementById('titulo_reunion').value;
            const descripcion_reunion = document.getElementById('descripcion_reunion').value;
            const fecha_reunion = document.getElementById('fecha_reunion').value;
            const hora_inicio_reunion = document.getElementById('hora_inicio_reunion').value;
            const hora_fin_reunion = document.getElementById('hora_fin_reunion').value;
            const isRepetible = document.getElementById('isRepetible').checked;
            const nombreSala = document.getElementById('nombreSala').value;

            const fechasRepetir = [];
            document.querySelectorAll('input[name="fechaRepetir"]').forEach(input => {
                fechasRepetir.push(input.value);
            });

            const envJson = {
                titulo_reunion,
                descripcion_reunion,
                fecha_reunion,
                hora_inicio_reunion,
                hora_fin_reunion,
                isRepetible,
                nombreSala,
                fechasRepetir
            };

            fetch('reuniones', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(envJson)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('data:', data);
                    obtenerReuniones();
                })
                .catch(error => {
                    console.error('Error:', error);
                });



        }
        function enviarInvitacion(idReunion) {
            const emailDiv = 'correoInv-' + idReunion;
            const correoInv = document.getElementById(emailDiv).value;
            const acompanantesInv = document.getElementById(`acompanantesInv-`+idReunion).value;

            const envJson = {
                idReunion,
                correoInv,
                acompanantesInv
                
            };

            fetch(`reuniones/invitacion`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(envJson)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('data:', data);
                    obtenerReuniones();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function detallesReunion(idReunion) {
            console.log('Detalles de la reunion:', idReunion);

        }
        function eliminarReunion(idReunion) {

        }

    </script>
</body>

</html>