<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="../../css/app.css">
    <!--Formulario-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--SiderBar-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
      .msg-error-form{
        max-width: 100%;
        margin-top: 1rem;
        font-size: 1.6rem;
      }
    </style>
</head>

<body>
<div id="headers"></div>
<main class="contenidoPrincipal">
  <div class="registrarInforPersonal">
      <section class="cRegistro">
        <h1 class="title-example text-center">Cambiar contraseña</h1>
        <div class="Formulario needs-validation paragraph-example">
          <div class="informacionPersonal">
            <div class="contacto">
              <div class="form-group has-validation" style="max-width: 100% !important;">
                <label for="" class="labelControl">Contraseña*</label>
                <div style="position: relative;">
                  <input id="loginPassword" type="password" placeholder="contraseña" class="form-control form-control-lg inputControl">
                  <svg id="eyebutton" class="view-icon" viewBox="0 0 576 512" style="position: absolute; top:18px; right:18px;" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>
                </div>
                <div id="passwordForm"></div>
              </div>
            </div>
            <div class="contacto" style="display: flex; flex-direction: column;">
              <div class="form-group has-validation inputForm" style="max-width: 100% !important;">
                <label for="" class="labelControl">Repetir contraseña*</label>
                <div style="position: relative;">
                  <input id="loginPasswordR" type="password" class="form-control form-control-lg inputControl" placeholder="contraseña">
                  <svg id="eyebuttonR" class="view-icon" style="position: absolute; top:18px; right:18px;" viewBox="0 0 576 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"></path></svg>
                </div>
                <div id="passwordFormR"></div>
              </div>
            </div>
  
          </div>
          <button onclick="cambiarCon()" id="editForm" class="confirm__btn">Aceptar</button>
        </div>
      </section>
  </div>
</main>
<div id="footers"></div>

<!-- Estilos para el Swal -->
<style>
  .titleSize{
    font-size: 4rem;
  }
  .contentSize{
    font-size: 2rem !important;
  }
  .buttonSize{
    font-size: 2rem !important;
  }
  .iconSize{
    font-size: 1.5rem;
  }
</style>
<script>
    async function cambiarCon(){
      let password = document.getElementById('loginPassword').value;
      let passwordR = document.getElementById('loginPasswordR').value;
      console.log('param password', password);
      console.log('param passwordR', passwordR);
      //Verificamos si tiene valor
      if(password){
        if(passwordR){
          if(validatePassword(password) == "OK"){
            fetch('/invitado/cambiar', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  password: password
              })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                  modal.fire({
                    title: "Error",
                    icon: "error",
                    text: 'Error: ' + data.error,
                  });
                } else {
                    console.log(data);
                    modal.fire({
                      title: "Su contraseña ha sido actualizada",
                      icon: "success",
                      text: "Su contraseña ha sido actualizada correctamente",
                    }).then((result) => {
                      window.location.href = data.ruta;
                    })
                }
            })
            .catch(error => {
              modal.fire({
                title: "Error",
                icon: "error",
                text: 'Error al procesar la solicitud: ' + error,
              });
            });
          }else{
            passwordFormR.innerHTML = `<p class="msg-error-form">La contraseña no coincide</p>`
          }
        }else{
          passwordFormR.innerHTML = `<p class="msg-error-form">La contraseña no coincide</p>`
        }
      }else{
        passwordForm.innerHTML = '<p class="msg-error-form">Favor de introducir una contraseña</p>'
      }
    }


</script>
<script src="../../js/invitado/headers.js"></script>
<script src="../../js/invitado/invitado.js"></script>
<script src="../../js/header.js"></script>
<script src="../../js/sidebar.js"></script>
<script src="../js/validaciones.js"></script>
<!--<script src="../../js/registrarInformacionPersonal.js"></script>-->
<script src="../../js/plantilla-formularios.js"></script>

</body>

</html>