<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="../../css/app.css">
    <!--Formulario-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--SiderBar-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
<div id="headers"></div>

<main class="contenidoPrincipal">
    <div id="contenedor_main">
        <div class="registrarInforPersonal">
            <section class="cRegistro">
                <h1 class="title-example text-center">Registro de información personal</h1>
                <form id="formularioDatosPersonales" class="Formulario needs-validation paragraph-example" novalidate>
                    <div class="informacionPersonal">
                        <h3 class="personal__titulo subtitle-example">Datos personales</h3>
                        <div class="NombreCompleto">
                            <div class="form-group has-validation">
                                <label for="nombre" class="labelControl">Nombre:*</label>
                                <input type="text" id="nombre" class="form-control form-control-lg inputControl" placeholder="Nombre" required>
                                <div class="invalid-feedback">Ingrese su Nombre.</div>
                            </div>
                            <div class="form-group has-validation">
                                <label for="apellidoMaterno" class="labelControl">Apellido materno:*</label>
                                <input type="text" id="apellidoMaterno" class="form-control form-control-lg inputControl" placeholder="Apellido materno" required>
                                <div class="invalid-feedback">Ingrese su apellido materno.</div>
                            </div>
                            <div class="form-group has-validation">
                                <label for="apellidoPaterno" class="labelControl">Apellido paterno:*</label>
                                <input type="text" id="apellidoPaterno" class="form-control form-control-lg inputControl" placeholder="Apellido paterno" required>
                                <div class="invalid-feedback">Ingrese su Apellido paterno.</div>
                            </div>
                        </div>
                        <div class="contacto">
                            <div class="form-group has-validation">
                                <label for="telefono" class="labelControl">Número de teléfono:*</label>
                                <input type="tel" id="telefono" class="form-control form-control-lg inputControl" placeholder="Ingrese su número telefónico" pattern="[0-9]{10}" required>
                                <div class="invalid-feedback">Ingrese un número telefónico válido.</div>
                            </div>
                            <div class="form-group has-validation">
                                <label for="empresa" class="labelControl">Empresa a la que pertenece:*</label>
                                <input type="text" id="empresa" class="form-control form-control-lg inputControl" placeholder="Ingrese su Empresa de procedencia" required>
                                <div class="invalid-feedback">Ingrese su empresa de procedencia.</div>
                            </div>
                        </div>
                        <div class="identificacion">
                            <div class="form-group has-validation">
                                <label for="identificacion" class="labelControl">Identificación oficial a presentar:*</label>
                                <select id="identificacion" class="custom-select form-control-lg inputControl" required>
                                    <option value="">Elija una opción...</option>
                                    <option value="INE">INE</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Visa">Visa</option>
                                </select>
                                <div class="invalid-feedback">Debe elegir una de las opciones.</div>
                            </div>
                            <div class="form-group has-validation">
                                <label for="foto" class="form-label labelControl">Fotografía reciente</label>
                                <input class="form-control form-control-lg inputControl" type="file" id="foto" accept="image/*" required>
                                <div class="invalid-feedback">Debe subir un archivo.</div>
                            </div>
                        </div>
                    </div>
                    <input class="confirm__btn" type="submit" value="Enviar">
                </form>

            </section>

        </div>
    </div>
</main>

<div id="footers"></div>

<script>
    /* Función para los modales */
    const modal = Swal.mixin({
        timer: 3000,
        timerProgressBar: true,
        background: "#fbfff1",
        showConfirmButton: true,
        confirmButtonColor: "#89b6b1",
        cancelButtonColor: "#305272",
        width: "50%",
        customClass: {
            title: "titleSize",
            htmlContainer: "contentSize",
            confirmButton: "buttonSize",
            icon: "iconSize",
        }
    })

    const formularioDatosPersonales = document.getElementById('formularioDatosPersonales');
    formularioDatosPersonales.addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario por defecto

        const nombre = document.getElementById('nombre').value;
        const apellidoPaterno = document.getElementById('apellidoPaterno').value;
        const apellidoMaterno = document.getElementById('apellidoMaterno').value;
        const telefono = document.getElementById('telefono').value;
        const empresa = document.getElementById('empresa').value;
        const identificacion = document.getElementById("identificacion").value;
        const foto = document.getElementById("foto").files[0];

        let data = {
            nombre: nombre,
            apellidoPat: apellidoPaterno,
            apellidoMa: apellidoMaterno,
            tel: telefono,
            empresa: empresa,
            identificacion: identificacion,
        };

        if (foto) {
            const reader = new FileReader();
            reader.onloadend = function() {
                data.foto = reader.result; // Añade la foto en formato Base64 al objeto data
                enviarData(data);
            };
            reader.readAsDataURL(foto);
        } else {
            enviarData(data); // Enviar sin foto si no se seleccionó ninguna
        }
    });

    function enviarData(data) {
        fetch('/invitado/registrarinformacion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Respuesta del servidor:', data);
                window.location.href = data.ruta;
            })
            .catch(error => {
                console.error('Error al mandar datos:', error)
                modal.fire({
                    title: "Error",
                    icon: "error",
                    text: error,
                });
            });
    }



</script>
<script src="../../js/invitado/headers.js"></script>
<script src="../../js/header.js"></script>
<script src="../../js/sidebar.js"></script>

<!--<script src="../../js/registrarInformacionPersonal.js"></script>-->
<script src="../../js/plantilla-formularios.js"></script>

</body>

</html>