<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="../../css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <div id="headers"></div>

    <main class="contenidoPrincipal default">
        <div class="defaultInicioHero">
            <div class="defaultInicioHero__Top">
                <h1>Bienvenido, <span id="nameGet">Rafael Cabañas</span></h1> 
                <h2>Comienza a reunirte</h2>
            </div>
            <div class="defaultInicioHero__Bottom">
              <div class="defaultInicioHero__Bottom__imgBox">
                <img src="../../img/bee.png" class="defaultInicioHero__Bottom__imgBox__beeAnimation">
              </div>
              <div class="defaultInicioHero__Bottom__imgBox">
                <img src="../../img/EDIFICIO.png">
              </div>
            </div>    
        </div>
    </main>

    
    <div id="footers"></div>
    
    <!-- Estilos para el Swal -->
    <style>
      .titleSize{
        font-size: 4rem;
      }
      .contentSize{
        font-size: 2rem !important;
      }
      .buttonSize{
        font-size: 2rem !important;
      }
      .iconSize{
        font-size: 1.5rem;
      }
    </style>
    <script src="../../js/admin/headers.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/superAdmin.js"></script>


    
</body>

</html>