<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Editar Cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!--Formulario-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .form-label {
            font-size: 16px;
        }

        .form-control {
            font-size: 16px;
        }

        .btn-custom {
            font-size: 16px;
            padding: 5px;
        }
        
        .msg-error-form{
          max-width: 100%;
          margin-top: 1rem;
          font-size: 1.6rem;
        }
    </style>

</head>

<body>
    <div id="headers"></div>

    <main class="contenidoPrincipal">
      <div class="container-shadow">
        <div class="editForm">
          <h1 class="Titulo title-example text-center">Editar cuenta anfitrión/seguridad</h1>
          <div class="Formulario needs-validation paragraph-example">
            <!-- Puesto con radios -->
            <div>
                <div class="form-group mb-3 row">
                    <label class="editForm__label col-sm-2">Puesto*</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="puesto" id="rolSeguridad" value="Seguridad">
                            <label class="editForm__label" for="seguridadEdificio">Seguridad edificio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="puesto" id="rolAnfitrion" value="Anfitrion">
                            <label class="editForm__label" for="anfitrion">Anfitrión</label>
                        </div>
                    </div>
                </div>
                <div id="rolForm"></div>
            </div>
            <div class="row">
              <!--Correo-->
              <div class="col-md-8">
                <label class="editForm__label">Correo electrónico*</label>
                <div class="inputForm">
                    <input type="email" class="input" id="loginEmail" placeholder="email@example.com" required>
                  </div>
                  <div id="emailForm"></div>
              </div>
              <!--Número de Teléfono-->
              <div class="col-md-4">
                <label class="editForm__label">Número de teléfono*</label>
                <div class="inputForm">
                  <input type="tel" class="input" id="telefono" placeholder="55 + 1234 5678" min="0" pattern="[0-9]{10}" required>
                </div>
                <div id="telefonoForm"></div>
              </div>
            </div>
            <!--Nombre-->
            <div>
              <label class="editForm__label">Nombre(s)*</label>
              <div class="inputForm">
                  <input type="text" class="input" id="nombre" placeholder="Nombre"   required>
              </div>
              <div id="nombreForm"></div>
            </div>
            <div class="row">
              <!--Apellido Pa-->
              <div class="col-md-6">
                  <label class="editForm__label">Apellido paterno*</label>
                  <div class="inputForm">
                      <input type="text" class="input" id="app" placeholder="Apellido paterno" required>
                  </div>
                  <div id="appForm"></div>
              </div>
              <!--Apellido Ma-->
              <div class="col-md-6">
                <label class="editForm__label">Apellido materno*</label>
                <div class="inputForm">
                    <input type="text" class="input" id="apm" placeholder="Apellido materno" required>
                </div>
                <div id="apmForm"></div>
              </div>
            </div>

            <div class="button-container">
                <input type="button" value="Guardar" class="button" onclick="enviarForm()" id="">
                <button type="button" class="button-submit" onclick="cancelarForm()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div id="footers"></div>


    <!-- Estilos para el Swal -->
    <style>
      .titleSize{
        font-size: 4rem;
      }
      .contentSize{
        font-size: 2rem !important;
      }
      .buttonSize{
        font-size: 2rem !important;
      }
      .iconSize{
        font-size: 1.5rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/headers.js"></script>
    <script src="../../js/plantilla-formularios.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="/build/js/header.js"></script>
    <script src="../../js/superAdmin.js"></script>
    <script src="../../js/admin/editarCuentaAnfitrionSeguridad.js"></script>
    <script src="../../js/validaciones.js"></script>


    <!--Formulario-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>