<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Crear Sala</title>
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Formulario-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .msg-error-form{
        max-width: 100%;
        margin-top: 1rem;
        font-size: 1.6rem;
      }
    </style>
</head>
<body>

    <div id="headers"></div>

    <main class="contenidoPrincipal cSala">
      <div class="cSala">
        <section class="cSalaHero">
          <h1 class="Titulo title-example text-center">Modificar sala</h1>
          <div class="cSalaHeroForm needs-validation">
            <div class="form-group cSalaHeroForm__container">
                <label for="" class="cSalaHeroForm__container__label">Nombre de la sala*:</label>
                <input id="nombreSala" type="text" class="cSalaHeroForm__container__input" required>
            </div>
            <div id="nombreSalaForm"></div>

            <div class="row">
              <!-- Número de sala -->
              <div class="col-md-4">
                <div class="form-group cSalaHeroForm__container">
                  <label for="" class="cSalaHeroForm__container__label">Número*:</label>
                  <input id="numberSala" type="number" class="cSalaHeroForm__container__input" min="0" required>
                </div>
                <div id="numberSalaForm"></div>
              </div>
              <!-- Piso de la sala -->
              <div class="col-md-4">
                <div  class="form-group cSalaHeroForm__container">
                  <label for="" class="cSalaHeroForm__container__label">Piso*:</label>
                  <input id="pisoSala" type="number" class="cSalaHeroForm__container__input" min="0" required>
                </div>
                <div id="pisoSalaForm"></div>
              </div>
              <!-- Cupo máximo de la sala -->
              <div class="col-md-4">
                <div class="form-group cSalaHeroForm__container">
                  <label for="" class="cSalaHeroForm__container__label">Cupo máximo*:</label>
                  <input id="cupoMaxSala" type="number" class="cSalaHeroForm__container__input" min="0" required>
                </div>
                <div id="cupoMaxSalaForm"></div>
              </div>
            </div>
            <div class="Seleccion form-group cSalaHeroForm__container">
                <label for="" class="cSalaHeroForm__container__label">Estado de la sala*:</label>
                <select name="" id="estadoSala" class="cSalaHeroForm__container__select" required>
                    <option disabled selected value="" class="cSalaHeroForm__container__option"> Selecciona una opción</option>
                    <option value="Disponible" class="cSalaHeroForm__container__option">Disponible</option>
                    <option value="NoDisponible" class="cSalaHeroForm__container__option">No disponible</option>
                </select>
            </div>
            <div id="estadoSalaForm"></div>

            <div class="cSalaHeroForm__button-Container">
              <div class="Boton">
                <input onclick="enviarForm()" type="submit" class="cSalaHeroForm__button-Container__button__Primario w-100" value="Aceptar" id="">
                <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.11.0/dist/js/mdb.min.js"></script>
              </div>
              <input onclick="cancelar()" type="submit"  class="cSalaHeroForm__button-Container__button__Secundario" value="Cancelar" id="" >
            </div>
          </div>
        </section>
      </div>
    </main>

    <div id="footers"></div>

    <!-- Estilos para el Swal -->
    <style>
      .titleSize{
        font-size: 4rem;
      }
      .contentSize{
        font-size: 2rem !important;
      }
      .buttonSize{
        font-size: 2rem !important;
      }
      .iconSize{
        font-size: 1.5rem;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/editarSala.js"></script>
    <script src="../../js/admin/headers.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/superAdmin.js"></script>
    <script src="../../js/validaciones.js"></script>
    <script src="/build/js/header.js"></script>


    <!--Formulario-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>