<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Usuarios</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .card{
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 5px;
            margin-bottom: 10px;
        }

        .fechas li{
            list-style: none;
            
        }

        .cardszzz {

            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .card p {
            margin: 0;
            white-space: nowrap;
            display: inline-flex;
        }

    </style>
</head>

<body>
    <h1>Gestionar Usuarios</h1>
    <!--<button onclick="mostrarFormularioCrearUsuario()">Crear Usuario</button> -->

    <table id="tablaUsuarios">
        <tr>
            <th>ID de Usuario</th>  
            <th>Nombre de Usuario</th>
            <th>Correo Electrónico</th>
            <th>Tipo de Usuario</th>
            <th>URL foto de usuario</th>
            <th>Acciones</th>
        </tr>
    </table>


    <!-- cards -->

    <div id="divReuniones" class="cardszzz"></div>
    



    <div id="formularioCrearUsuario" style="display: none;">
        <h2>Crear Usuario</h2>
        <form>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="contrasena">Contraseña:</label><br>
            <input type="password" id="contrasena" name="contrasena"><br>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"><br>
            <label for="apellidoPaterno">Apellido Paterno:</label><br>
            <input type="text" id="apellidoPaterno" name="apellidoPaterno"><br>
            <label for="apellidoMaterno">Apellido Materno:</label><br>
            <input type="text" id="apellidoMaterno" name="apellidoMaterno"><br>
            <label for="telefono">Teléfono:</label><br>
            <input type="text" id="telefono" name="telefono"><br>
            <label for="idRol">ID Rol:</label><br>
            <input type="text" id="idRol" name="idRol"><br>
            <label for="foto_usuario">Foto de Usuario:</label><br>
            <input type="text" id="foto_usuario" name="foto_usuario"><br>
            
            <button type="button" onclick="crearUsuario()">Crear</button>
            <button type="button" onclick="hideFormCrearUsuario()">Cancelar</button>
        </form>
    </div>

    <div id="formularioEditarU" style="display: none;">
        <h2>Editar Usuario</h2>
        <form>
            <input type="hidden" id="editUserId" name="editUserId">
            <label for="editEmail">Email:</label><br>
            <input type="text" id="editEmail" name="editEmail"><br>
            <label for="editContrasena">Contraseña:</label><br>
            <input type="password" id="editContrasena" name="editContrasena"><br>
            <label for="editNombre">Nombre:</label><br>
            <input type="text" id="editNombre" name="editNombre"><br>
            <label for="editApellidoPaterno">Apellido Paterno:</label><br>
            <input type="text" id="editApellidoPaterno" name="editApellidoPaterno"><br>
            <label for="editApellidoMaterno">Apellido Materno:</label><br>
            <input type="text" id="editApellidoMaterno" name="editApellidoMaterno"><br>
            <label for="editTelefono">Teléfono:</label><br>
            <input type="text" id="editTelefono" name="editTelefono"><br>
            <label for="editIdRol">ID Rol:</label><br>
            <input type="text" id="editIdRol" name="editIdRol"><br>
            <label for="editFoto">Foto de Usuario:</label><br>
            <input type="text" id="editFoto" name="editFoto"><br>
            <button type="button" onclick="modifUsuario()">Modificar</button>
            <button type="button" onclick="hideFormModificarU()">Cancelar</button>

        </form>
    </div>

    <script>
        
        window.onload = function () {
            cargarUsuarios();
        }
        function mostrarFormularioCrearUsuario() {
            document.getElementById('formularioCrearUsuario').style.display = 'block';
        }

        function hideFormCrearUsuario() {
            document.getElementById('formularioCrearUsuario').style.display = 'none';
        }


        async function crearUsuario() {
            const email = document.getElementById('email').value;
            const contrasena = document.getElementById('contrasena').value;
            const nombre = document.getElementById('nombre').value;
            const apellidoPaterno = document.getElementById('apellidoPaterno').value;
            const apellidoMaterno = document.getElementById('apellidoMaterno').value;
            const telefono = document.getElementById('telefono').value;
            const idRol = document.getElementById('idRol').value;
            const foto_usuario = document.getElementById('foto_usuario').value;
            console.log('creando usuario...')
            fetch('/admin/catalogo/usuarios', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    contrasena,
                    nombre,
                    apellidoPaterno,
                    apellidoMaterno,
                    telefono,
                    idRol,
                    foto_usuario
                })
            })

                .then(response => {
                    if (response.ok) {
                        cargarUsuarios();
                        hideFormCrearUsuario();
                    } else {
                        console.error('Error al crear usuario:', response.statusText);
                    }
                })
                .catch(error => console.error('Error al crear usuario:', error));
        }


        function cargarUsuarios() {
            console.log('Cargando usuarios...');
            fetch('/admin/catalogo/usuarios')
                .then(response => response.json())
                .then(usuarios => {
                    const tablaBody = document.getElementById('tablaUsuarios');
                    // Limpiar el contenido de la tabla excepto la fila de encabezado
                    tablaBody.innerHTML = '';
                    usuarios.forEach(usuario => {
                        const fila = document.createElement('tr');
                        fila.innerHTML = `
                            <td>${usuario.id_usuario}</td>
                            <td>${usuario.nombre_usuario}</td>
                            <td>${usuario.email_usuario}</td>
                            <td>${usuario.rol_usuario}</td>
                            <td>${usuario.foto_usuario}
                            <td>
                                <button onclick="mostrarFormularioModificarU(${usuario.id_usuario})" >Editar</button>
                                <button onclick="eliminarUsuario(${usuario.id_usuario})">Eliminar</button>
                            </td>
                        `;
                        tablaBody.appendChild(fila);
                    });

                    // cargar las cards
                })
                .catch(error => console.error('Error al obtener usuarios:', error));
        }


        function mostrarFormularioModificarU(idUsuario) {
            document.getElementById('formularioEditarU').style.display = 'block';
            document.getElementById('editUserId').value = idUsuario;
            fetch(`/admin/catalogo/usuarios/${idUsuario}`)

                .then(response => response.json())
                .then(usuario => {
                    document.getElementById('editEmail').value = usuario.email_usuario;
                    document.getElementById('editContrasena').value = usuario.password_usuario;
                    document.getElementById('editNombre').value = usuario.nombre_usuario;
                    document.getElementById('editApellidoPaterno').value = usuario.apellido_paterno_usuario;
                    document.getElementById('editApellidoMaterno').value = usuario.apellido_materno_usuario;
                    document.getElementById('editTelefono').value = usuario.telefono_usuario;
                    document.getElementById('editIdRol').value = usuario.rol_usuario;
                    document.getElementById('editFoto').value = usuario.foto_usuario;
                })
                .catch(error => console.error('Error al obtener usuario:', error));
        }



        function hideFormModificarU() {
            document.getElementById('formularioEditarU').style.display = 'none';
        }


        async function modifUsuario() {
            const userId = document.getElementById('editUserId').value;
            const email = document.getElementById('editEmail').value;
            const contrasena = document.getElementById('editContrasena').value;
            const nombre = document.getElementById('editNombre').value;
            const apellidoPaterno = document.getElementById('editApellidoPaterno').value;
            const apellidoMaterno = document.getElementById('editApellidoMaterno').value;
            const telefono = document.getElementById('editTelefono').value;
            const idRol = document.getElementById('editIdRol').value;
            const foto_usuario = document.getElementById('editFoto').value;
            
            fetch(`/admin/catalogo/usuarios/${userId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    contrasena,
                    nombre,
                    apellidoPaterno,
                    apellidoMaterno,
                    telefono,
                    idRol,
                    foto_usuario
                })
            })

                .then(response => {
                    if (response.ok) {
                        cargarUsuarios();
                        hideFormModificarU();

                    } else {
                        console.error('Error al modificar usuario:', response.statusText);
                    }
                })
                .catch(error => console.error('Error al modificar usuario:', error));
        }


        async function eliminarUsuario(userId) {
            fetch(`/admin/catalogo/usuarios/${userId}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        cargarUsuarios();
                    } else {
                        console.error('Error al eliminar usuario:', response.statusText);
                    }
                })
                .catch(error => console.error('Error al eliminar usuario:', error));
        }


       
        // Crear la fila de encabezado de la tabla fuera de la función cargarUsuarios()
        /*const tablaBody = document.getElementById('tablaUsuarios');
        const filaEncabezado = document.createElement('tr');
        filaEncabezado.innerHTML = `
            <th>ID de Usuario</th>
            <th>Nombre de Usuario</th> 
            <th>Correo Electrónico</th>
            <th>Tipo de Usuario</th>
            <th>URL foto de usuario</th>
            <th>Acciones</th>
        `;
        tablaBody.appendChild(filaEncabezado);*/

        
    </script>
</body>

</html>