<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMeet - Gestionar Invitaciones</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../../css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--DataTables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>

    <!--SiderBar-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <div id="headers"></div>

    <main class="content">
        <br>
        <h1 class="title-example text-center">Gestionar invitaciones</h1>
        <br><br>
        <div class="__Tabla table-responsive paragraph-example">
            <table class="tabla table table-hover table-bordered  table-sm" id="Tabla">
                <thead class="tabla__cabecera">
                    <tr>
                        <th scope="col" data-sort="id" class="cabecera">ID</th>
                        <th scope="col" data-sort="nombreAnfi" class="cabecera">Anfitrión</th>
                        <th scope="col" data-sort="fecha" class="cabecera" n id="Fecha">Fecha</th>
                        <th scope="col" data-sort="horaInicio" class="cabecera" id="Horario">Horario</th>
                        <th scope="col" data-sort="sala" class="cabecera">Sala</th>
                        <th scope="col" data-sort="numInvi" class="cabecera" id="Numero">Invitados</th>
                        <th scope="col" data-sort="numAcompa" class="cabecera" id="Numero">Email invitado</th>
                    </tr>
                </thead>
                <tbody class="tabla__cuerpo">
                </tbody>
            </table>
        </div>
        <br>
    </main>

    <div id="footers"></div>

    <!-- Estilos para el Swal -->
    <style>
      .titleSize{
        font-size: 4rem;
      }
      .contentSize{
        font-size: 2rem !important;
      }
      .buttonSize{
        font-size: 2rem !important;
      }
      .iconSize{
        font-size: 1.5rem;
      }
    </style>
    <script src="../../js/admin/headers.js"></script>
    <script src="../../js/sidebar.js"></script>
    <script src="../../js/gestionInvitaciones.js"></script>
    <script src="/build/js/header.js"></script>
    <script src="../../js/superAdmin.js"></script>
</body>

</html>